<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- custom configuration section for DLR hosting -->
		<section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=0.9.5.1, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
	</configSections>
	<system.webServer>
		<handlers>
			<add name="Sass" path="*.css" verb="*" type="IronRuby.Haml.HamlHandlerFactory, IronRuby.Haml" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode"/>
			<add name="Haml" path="*.html" verb="*" type="IronRuby.Haml.HamlHandlerFactory, IronRuby.Haml" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>
	<system.web>
		<compilation debug="false"/>
	</system.web>
	<!-- DLR configuration. Set debugMode to "true" if you want to debug your dynamic language code with VS -->
	<microsoft.scripting debugMode="false">
		<options>
			<!-- 
        Library paths. Note: paths are relative to this file's directory.
      -->
			<set option="LibraryPaths" value="..\Dependencies\libs;..\lib\ruby\site_ruby\1.8;..\lib\ruby\site_ruby\;..\lib\ruby\1.8"/>
		</options>
	</microsoft.scripting>
</configuration>
